[user]
	name = urokuta
	email = takuro.mizobe@gmail.com
[color]
ui = auto
[alias]
	l = log --decorate --all --graph
	s = status
	ct = commit
	a = add
	f = fetch
	p = push
	r = rebase
	m = merge
	d = diff
	b = branch
	ck = checkout
	pr = pull-request
[core]
	editor = /usr/bin/vim
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[grep]
	lineNumber = true
